
form {
	 
    margin: 20px 500px auto;
    border: 1px solid rgb(12, 9, 9);
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    width: 400px;
    height: 550px;
    text-align: center;
    background: rgba(248, 246, 244, 0.71);
    border-bottom: 5px solid ;
    border-radius: 10px;

  }
 
td{
    padding: 10px;
 }
 td:first-child {
   text-align:right;
   font-weight: bold;
 }
 td{
    text-align: left;
 }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  h1{
    text-align: center;

}  
  input {
    width: 100%;
    border: 0px solid #ccc;
    border-radius: 5px;
    color: black;
    padding: 10px;
    border-bottom: 3px solid ;
    background: rgba(217, 158, 70, 0.00);
  }
  input:hover{
    width: 100%;
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    border-bottom: 3px solid ;
    background: rgba(217, 158, 70, 0.00);

  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: 2px solid ;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    text-align:center;

  
  }
  li{
    display: inline;
  }